@import "tailwindcss";
body::-webkit-scrollbar{
    display: none;
}
.btns button{
    @apply border-2 border-solid border-[#0a132a] p-1.5 rounded-[0.2rem] cursor-pointer font-semibold;
}
.links{
    @apply w-[100%] h-auto flex flex-col gap-2;
}
.links li{
    @apply w-[100%] rounded-[5px] p-2 text-[1.2rem] font-semibold transition ease-linear duration-500 cursor-pointer;
}
.links li.active{
    @apply  text-[#ff8000] ;
}
.links li:hover{
    @apply text-[#ff8000];
}
/* == Section == */
.songs{
    overflow: scroll; 
}
.songs::-webkit-scrollbar{
    display: none;
}
.title{
    overflow: hidden;
}
.title::-webkit-scrollbar{
    display: none;
}
/* === login === */
.login{
    @apply bg-[#fff] ;
 }
 /* == Playlist == */
.hiden{
    display: none;
}
.p-lists li{
    @apply p-1 font-semibold text-[#999696] cursor-pointer;
}

.song-playlist::-webkit-scrollbar{
    display: none;
}
 
