@import "tailwindcss";
body::-webkit-scrollbar{
    display: none;
}
.btns button{
    @apply border-2 border-solid border-[#306567] p-1.5 rounded-[0.2rem] cursor-pointer font-semibold;
}
.links{
    @apply w-[100%] h-[100%] flex flex-col gap-2;
}
.links li{
    @apply w-[100%] rounded-[5px] p-2 text-[1.2rem] font-semibold transition ease-in-out duration-300 cursor-pointer;
}
.links li.active{
    @apply bg-[#306567] text-black ;
}
.links li:hover{
    @apply bg-[#306567] text-black ;
}
/* == Section == */
.songs{
    overflow: scroll; 
}
.songs::-webkit-scrollbar{
    display: none;
}
.title::-webkit-scrollbar{
    display: none;
}
/* === login === */
.login{
    @apply bg-[#046b6c];
 }
 /* == Playlist == */
.hiden{
    display: none;
}